In [1]:
j = [2,3,1,5]

In [3]:
j[::-1]

[5, 1, 3, 2]

In [9]:
# table 
import pandas as pd

# import data

In [13]:
a = {'Marks' : [35,40,45,50,55,60,65,70],
    'Salary' : [35000,40000,45000,50000,55000,60000,65000,70000]}

In [15]:
a

{'Marks': [35, 40, 45, 50, 55, 60, 65, 70],
 'Salary': [35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000]}

In [23]:
df= pd.DataFrame(a)

In [25]:
df

   Marks  Salary
0     35   35000
1     40   40000
2     45   45000
3     50   50000
4     55   55000
5     60   60000
6     65   65000
7     70   70000

# seperate input and output

In [29]:
X = df[['Marks']]
Y = df[['Salary']]

In [35]:
print(X)

   Marks
0     35
1     40
2     45
3     50
4     55
5     60
6     65
7     70

In [37]:
print(Y)

   Salary
0   35000
1   40000
2   45000
3   50000
4   55000
5   60000
6   65000
7   70000

# model building using skiert learn

In [41]:
from sklearn.linear_model import LinearRegression

In [3]:
lr1 = LinearRegression()

NameError: name 'LinearRegression' is not defined

In [45]:
model = lr.fit(X,Y)

In [49]:
# m value
m=model.coef_

In [51]:
m

array([[1000.]])

In [53]:
c = model.intercept_
c

array([1.45519152e-11])

# Predictions

In [71]:
x = int(input('Enter Marks'))
y=m*x+c
print('Salary of ',x,'is',y)

Enter Marks 40

Salary of  40 is [[40000.]]

In [73]:
y

array([[40000.]])

In [1]:
b = {'Salary' : [40000,45000,50000,55000,60000,65000,70000],
    'Spendings' : [10000,15000,20000,25000,30000,35000,40000]}

In [11]:

df1= pd.DataFrame(b)
df1

   Salary  Spendings
0   40000      10000
1   45000      15000
2   50000      20000
3   55000      25000
4   60000      30000
5   65000      35000
6   70000      40000

In [15]:
X = df1[['Salary']]
Y = df1[['Spendings']]

In [17]:
print(X)

   Salary
0   40000
1   45000
2   50000
3   55000
4   60000
5   65000
6   70000

In [19]:
print(Y)

   Spendings
0      10000
1      15000
2      20000
3      25000
4      30000
5      35000
6      40000

In [21]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()

In [25]:
model = lr.fit(X,Y)

In [27]:
# m value mns slope
m=model.coef_

In [29]:
m

array([[1.]])

In [31]:
# intercpet mns c value
c = model.intercept_
c

array([-30000.])

In [53]:
x = int(input('Enter Salary'))
y=m*x+c
print('Spendings of ',x,'is',y)

Enter Salary 90000

Spendings of  90000 is [[60000.]]

In [57]:
c = {'CGPA' :[3.5,4,4.5,5,5.5,6,6.5],
    'Salary' : [40000,45000,50000,55000,60000,65000,70000]}

In [59]:
c

{'CGPA': [3.5, 4, 4.5, 5, 5.5, 6, 6.5],
 'Salary': [40000, 45000, 50000, 55000, 60000, 65000, 70000]}

In [61]:
df2 = pd.DataFrame(c)

In [63]:
df2

   CGPA  Salary
0   3.5   40000
1   4.0   45000
2   4.5   50000
3   5.0   55000
4   5.5   60000
5   6.0   65000
6   6.5   70000

In [67]:
X =df2[['CGPA']]
Y =df2[['Salary']]

In [69]:
print(X)

   CGPA
0   3.5
1   4.0
2   4.5
3   5.0
4   5.5
5   6.0
6   6.5

In [71]:
print(Y)

   Salary
0   40000
1   45000
2   50000
3   55000
4   60000
5   65000
6   70000

In [73]:
lr = LinearRegression()

In [75]:
model = lr.fit(X,Y)

In [77]:
m = model.coef_

In [79]:
m

array([[10000.]])

In [81]:
c = model.intercept_
c

array([5000.])

In [89]:
x = int(input('CGPA'))
y=m*x+c
print('CGPA',x,'Salary is ',y)

CGPA 7

CGPA 7 Salary is  [[75000.]]